{% extends 'index.html' %}
{% load static %}

{% block titulo %}
    Brigada Semanal
{% endblock titulo %}

{% block extralink %}
    <link href="{% static 'vendor/DataTables/DataTables-1.10.20/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/daterangepicker/daterangepicker.css' %}" rel="stylesheet">
{% endblock extralink %}

{% block titulo_page %}
    <h1 class="h3 mb-0 text-gray-800">Crear Brigada Semanal C&P</h1>
    <div id="daterangepicker" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
        <i class="fa fa-calendar"></i>&nbsp;
        <span id="daterange"></span> <i class="fa fa-caret-down"></i>
    </div>
    {% comment %} <div id="dateranges">
        <i class="fa fa-calendar"></i>&nbsp;
        <input type="text" id="daterangepicker" value=""/>&nbsp;<i class="fa fa-caret-down"></i>
    </div> {% endcomment %}
{% endblock titulo_page %}
    
{% block page_content %}
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Zona Norte
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-gray-800" id="table_1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Carnet</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if norte %}
                                {% for empleado in norte %}
                                    <tr>
                                    <td>{{ empleado.no_empleado }}</td>
                                    <td>{{ empleado.nombres }}</td>
                                    <td>{{ empleado.apellidos }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Zona Sur
                    </button>
                </h2>
            </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered text-gray-800" id="table_2" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Carnet</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if sur %}
                                    {% for empleado in sur %}
                                        <tr>
                                        <td>{{ empleado.no_empleado }}</td>
                                        <td>{{ empleado.nombres }}</td>
                                        <td>{{ empleado.apellidos }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Zona Este
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-gray-800" id="table_3" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Carnet</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if este %}
                                {% for empleado in este %}
                                    <tr>
                                    <td>{{ empleado.no_empleado }}</td>
                                    <td>{{ empleado.nombres }}</td>
                                    <td>{{ empleado.apellidos }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="py-2"></div>
                <button id="button_table_1" type="button" class="btn btn-primary">Selecionar</button>
        <div class="py-4"></div>
    </div>
{% endblock page_content %}

{% block extrajs %}
    <script src="{% static 'vendor/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/moment.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'js/gpm_brigada_reten/reten.js' %}"></script>
{% endblock extrajs %}